
@model Microservice.BookStore.Models.Book

@{
    ViewData["Title"] = $"کتاب {Model.Title}";
}

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/@(Model.Image)" class="card-img" alt="@Model.Title">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                </h5>
                <p class="card-text">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Auther)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Auther)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Count)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Count)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </p>
                <p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="Seles" method="post">
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="Title" type="hidden" />
                            <input asp-for="Price" type="hidden" />
                            <input asp-for="Description" type="hidden" />
                            <input asp-for="Auther" type="hidden" />
                            <input asp-for="Image" type="hidden" />
                            <input asp-for="Serial" type="hidden" />

                            <label asp-for="Count" class="form-label"></label>
                            <input asp-for="Count" oninput="FselectedCount(this.value)" 
                                   type="range" class="form-range" min="1" 
                                   max="@Model.Count" value="1" step="1">
                            <p id="selectedCount">تعداد خرید 1 عدد</p>
                            <input type="submit" value="خرید" class="btn btn-primary px-4" />
                        </form>
                    }
                    else
                    {
                        <div class="alert alert-warning col-md-4">
                            <p>برای خرید ابتدا باید وارد شوید</p>
                        </div>
                    }

                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function FselectedCount(val) {
            document.getElementById('selectedCount').innerText = "تعداد خرید " + val + "عدد";
        }
    </script>
}